<div class="container">
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5 px-4 bg-light bg-opacity-50">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4">
                    <img src="/images/user-icon.png" class="img-fluid">
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <p class="text font-italic">“Impossible is just a big word thrown around by small men who
                                find it easier to
                                live in the world they’ve been given than to explore the power they have to change it.
                                Impossible is not
                                a fact. It’s an opinion. Impossible is not a declaration. It’s a dare. Impossible is
                                potential.
                                Impossible is temporary. Impossible is nothing.”</p>
                            <p class="text font-italic">MUHAMMAD ALI</p>
                            <h2 class="pt-3">Your Account</h2>

                        </div>
                        {{#if user}}
                        <div class="lead">
                            <h3>Welcome Propertie holder, {{ user.username }}!</h3>
                            <p class="pt-4">This is your Sale/Rent account. Let's discover the best hauses in this
                                world!</p>
                            {{else}}
                            <p>Still no logged in user, sorry! Just enter your email and your password, discover the
                                world of training.</p>
                            {{/if}}
                        </div>

                        <div class="my-5">
                            <a href="/sale" class="btn btn-dark-moon btn-outline-light btn-rounded text-white my-2 px-4"
                                role="button">Arts</a>
                            <a href="/rent"
                                class="btn btn-dark-moon btn-outline-light btn-rounded text-white my-2 mx-3 px-3"
                                role="button">Artists</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>