<div class="container">

    <header class="row mt-3">

        <div class="col">
            <img src="/images/real-estate-background1.jpg" class="shadow-lg img-fluid mx-auto d-block" alt=" homepage">
        </div>
    </header>

    <div class="container px-3 shadow-lg bg-dark bg-gradient" id="featured-3">
        <div class="row g-6 row-cols-1 row-cols-lg-3">
            <div class="feature col text-center bg-dark bg-gradient text-white-50 p-3">
                <div
                    class="feature-icon rounded d-inline-flex align-items-center justify-content-center bg-primary bg-light text-white fs-2 mb-2">
                    <img class="rounded" style="max-height: 1em;" src="images/home-logo1.png">
                </div>
                <h4>our website/h4>
                    <h6 class="text-white-50"> text
                    </h6>
            </div>
            <div class="feature col text-center bg-dark bg-gradient text-white-50 p-3">
                <div
                    class="feature-icon rounded d-inline-flex align-items-center justify-content-center bg-primary bg-light text-white fs-2 mb-2">
                    <img class="rounded" style="max-height: 1em;" src="images/home-logo1.png">
                </div>
                <h4>Exercises</h4>
                <h6 class="text-white-50"> text

                </h6>
            </div>
            <div class="feature col text-center bg-dark bg-gradient text-white-50 p-3">
                <div
                    class="feature-icon rounded d-inline-flex align-items-center justify-content-center bg-primary bg-light text-white fs-2 mb-2">
                    <img class="rounded" style="max-height: 1em;" src="images/home-logo1.png">
                </div>
                <h4>And New Exercises</h4>
                <h6 class="text-white-50"> Text</h6>
            </div>
        </div>
    </div>



</div>

</div> --}}