<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/real-estate-background1.jpg" class="d-block w-100" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <p style="color:#E1D89F ; fon t-size: 7em; font-weight: bold;" class="fst-bold">Proprio</p>
                <p style="color:white ; font-size: 7em; font-weight: bold;" class="fst-bold">Where dreams come home</p>
                <p style="color:white ; font-size: 2em;">Get your free account now and start renting your property in no time</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/real-estate-background2.jpg" class=" d-block w-100  " alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <p style="color:white ; font-size: 7em; font-weight: bold;" class="fst-bold">Going above and beyond to find your next home</p>
                <p style="color:white ; font-size: 2em;">Been there. Done that. Sold this. Bought that.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/real-estate-background3.jpg" class="d-block w-100" alt="Second slide" style="filter: brightness(120%);">
            <div class="carousel-caption d-none d-md-block">
                <p style="color:white ; font-size: 7em; font-weight: bold;" class="fst-bold">Beautiful places to live in</p>
                <p style="color:white ; font-size: 2em;">Committed To Getting The Colorful places to live and play.</p>
            </div>
        </div>
    </div>
    <button class=" carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="bottom-bar">
    <div>
        <img src="/images/profile-user.png" alt="profile-image">
        <h1>Create a profile and share reviews</h1>
    </div>
    <div>
        <img src="/images/discount.png" alt="sales">
        <h1>Monitor your sales</h1>
    </div>
    <div>
        <img src="/images/home.png" alt="house-dream">
        <h1>Finding your dream house has never been so easy</h1>
    </div>
</div>
{{!-- <hr style="width: 90%; margin: auto;"> --}}
<section class="news">
    <div>
        <img src="/images/home-logo1.png" width="30" height="30" background-color="white">
        <div class="text">
            <h1>See what's fresh with Proprio</h1>
            <p>Our fresh new look is just about to begin. Learn more about the launch of Proprio and other news from the world of real estate.</p>
            <a style="color:white;" style="color: #E1D89F;" href="/auth/login" class="btn btn-outline-$yellow-600 mx-1"
               role="button">News & Press releases</a>
        </div>
    </div>
    {{!-- <hr style="width: 90%; margin: auto;"> --}}
</section>
<div class="info-section">
    <div>
        <img src="/images/computer1.jpg" alt="profile-image">
        <h3>Active community</h3>
        <p>Create an account, offers and reviews and get to sell/rent your property in no time.</p>
    </div>
    <div>
        <img src="/images/analysis1.jpg" alt="sales">
        <h3>Money on the go</h3>
        <p>Phone & tablet apps to manage your offers from wherever you are.</p>
    </div>
    <div>
        <img src="/images/keys1.jpg" alt="house-dream">
        <h3>Renting made effortless</h3>
        <p>Organize deals in one central place and pay or get payed on the spot.</p>
    </div>        
</div>
<div class="signup-bar">
    <h1>Sign up for Proprio today</h1>
    <p>From budget and bills to free credit score and more, you'll discover the effortless real estate business.</p>
    <a href="/auth/signup" style="width: 200px; color: #E1D89F;" class="btn-dark btn">Sign up</a>
</div>