<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Proprio</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <link rel="icon" type="image/x-icon" href="/images/home-logo1.png">
   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
   <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body class="d-flex flex-column h-100" style="background-color:#3F4E4F">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
      <div class="container-fluid ">
         <div class="mx-5"></div>
         <div>
            <a href="/">
               <img src="/images/home-logo1.png" width="30" height="30" background-color="white "
                  class=" rounded d-inline-block align-text-top">
            </a>
         </div>
         <a class="navbar-brand px-2" style="color:white;" id="class-logo" href="/">Proprio</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               {{#if userNavigation}}
               <li class="nav-item">
                  <a class="nav-link" href="/offer/list" role="button">Offers</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/offer/create-sale">New offer</a>
               </li>
               <li>
                  <a class="nav-link" role="button" href="/auth/user-profile">My profile </a>
               </li>
               {{/if}}
            </ul>
            {{#unless userNavigation}}
            <a style="color:white;" href="/auth/login" class="btn btn-outline-$yellow-600 mx-1"
               role="button">Login</a>
            <a  style="color:white ;" href="/auth/signup" class="btn btn-outline-$yellow-600 mx-1"
               role="button">Register</a>
            {{/unless}}
            {{#if userNavigation}}
            <a style="color:white ;" href="/auth/logout" class="btn btn-outline-$yellow-600 mx-1"
               role="button">Logout</a>
            {{/if}}
         </div>
      </div>
   </nav>
   <div>
      {{{body}}}
   </div>
   <script src="/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
</body>
<footer class="footer">
  	 <div class="footer_container">
  	 	<div class="row_footer">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
</html>
