body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: 15px;
}

.btn-dark-moon {
  background: #262b35;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #98acc3, #262b35);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #98acc3, #262b35);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  object-fit: cover;
}

.text-muted {
  padding-bottom: 1rem;
}

.card {
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.card:hover,
.card:active {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  border-radius: 5;
}

.card#no-scale:hover,
.card#no-scale:active {
  transform: scale(1);
}

.test {
  background-color: red;
}

.profile {
  width: 400px;
}

/* .big img {
  margin-top: 30px;
  margin-left: 50px;
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
} */

.profile img {
  margin-top: 30px;
  margin-left: 50px;
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
}

.info-user {
  display: flex;
  flex-wrap: wrap;
  color:#E1D89F
}

.info {
  margin-top: 60px;
  margin-bottom: 50px;
}

.big {
  margin: auto;
  width: 70%;
  padding: 50px;
  background-color:#2f5a37;
}

hr, h3 {
  color:#E1D89F;
}


.col_p {
  height: 270px;
  /* width: 400px; */
}

.container_p {
  width: 700px;
  
}

.info-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.containers {
  width: 100%;
}

.container_new {
  margin: auto;
  width: 70%;
  padding: 50px;
  background-color:#2f5a37;
}

.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row1 {
  width: 100%;
}

.choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-outline {
  /* width: 480px; */
  text-align: center;
}

.col-md-8, .btn-dark {
  margin: auto;
  width: 50%;
}

.from1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-md-6, .btn-dark {
  margin: auto;
}

.container_d {
  display: flex;
  justify-content: space-between;
}

.p-4 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

#liked {
  width: 30%;
  margin: auto
}

.lead {
  font-size: 15;
}

.col_d img {
  height: 300px;
}

.col_d {
  width: 400px
}

.card-body {
  height: 50px;
  margin: auto
}

lu {
  list-style-type: none;
  color:#E1D89F;
}
