body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.btn-dark-moon {
  background: #262b35;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #98acc3, #262b35);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #98acc3, #262b35);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}



.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  object-fit: cover;
}

.text-muted {
  padding-bottom: 1rem;
}

.card {
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.card:hover,
.card:active {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  border-radius: 5;
}

.card#no-scale:hover,
.card#no-scale:active {
  transform: scale(1);
}