<div class="container">

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        </div>
    </div>
    <div class="about-section">
        <h1>About Proprio</h1>
        <p>We are the team of Proprio</p>
        <p>Propriois one of the best real estate companies in Frankfurt specialising
            in the sale & Rent of off-plan and ready properties, leasing, property management,
            and holiday homes. Our agents are licensed by the Real Estate Regulatory Agency of Germany.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Clark McEvoy</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>mcevoyclark@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Ali Kemal Dogan</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>alikedogan@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</div>